*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: rgb(225, 225, 225);
}

.parent{
  max-height: 100vh;
  margin:30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:50px
}

.big{
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  border-radius: 24px;
}

img{
  width: 50px;
  height: 50px;
  border: black solid 1px;
  border-radius: 50%;
}

.ico{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 10px 5px 10px;
}

.top{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap:30px;
}

span{
  font-size: 10px;
  color: rgb(126, 129, 131);
}

#save {
  padding: 2px 8px;
  height: 26px;
  border: none;
  background-color: white;
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid rgb(126, 129, 131);
  color: rgb(126, 129, 131);
}

#apply {
  padding: 8px 16px;
  border: none;
  background-color: #000000;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
}

.inn{
  display: flex;
  justify-content: space-between;
  margin: 19px 0px;
}

.detail{
  display: flex;
  flex-direction: column;
  gap:4px;
}

.innt{
  display: flex;
  flex-direction: column;
  gap:7px;
}

.mid{
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 3px;
}

.mid button{
  border:none;
  padding: 5px;
  border-radius: 4px;
  font-weight:300;
}

.lp h5{
  color:rgb(126, 129, 131) ;
  font-size: 12px;
}

#save {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: white;
}

#save.saved {
  background: #ffe58a;
  border-color: #f1c40f;
}